<%= form_for @psicologa, :html => { :class => "form-horizontal psicologa" } do |f| %>

  <% if @psicologa.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@psicologa.errors.count, "error") %> prohibited this psicologa from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @psicologa.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :n_orgao, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :n_orgao, :class => 'form-control' %>
    </div>
    <%=f.error_span(:n_orgao) %>
  </div>
 

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit "Cadastrar", :class => 'btn btn-primary' %>
      
    </div>
  </div>

<% end %>
