<%- model_class = Empresa -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @empresa.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:agent) %>:</strong></dt>
  <dd><%= @empresa.agent %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cnpj) %>:</strong></dt>
  <dd><%= @empresa.cnpj %></dd>
 
</dl>

<% if current_user.kind=="administrador" %>
	<%= link_to t('.back', :default => t("helpers.links.back")),
	              empresas_path, :class => 'btn btn-default'  %>
<% else %>
	<%= link_to t('.back', :default => t("helpers.links.back")),
	              painel_index_path, :class => 'btn btn-default'  %>
<% end %>