
<li class="control-group nested-fields">

  <div class="controls">
    <%= f.label :client_id %><br>
    <%= f.text_field :client_id %>
  </div>

  <div class="controls">
    <%= f.label :pacote_id %><br>
    <%= f.text_field :pacote_id %>
  </div>

  <div class="controls">
    <%= link_to_remove_association "Remover", f %>
  </div>

</li>