
<%- model_class = Pacote -%>
<div class="page-header">
  <h1>Pacotes</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:tipo_pacote_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>

    <% if current_user.kind=="administrador" %>

      <% @pacotes_temp = @pacotes_admin %>

    <% else %>

      <% @pacotes_temp = @pacotes %>

    <% end %>

    <% @pacotes_temp.each do |pacote| %>
      <tr>
        <td><%= link_to pacote.id, pacote_path(pacote) %></td>
        <td><%= pacote.description %></td>
        <td><%= pacote.tipo_pacote_id %></td>
        <td><%=l pacote.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      pacote_path(pacote), :class => 'btn btn-default btn-xs' %>
          <% if policy(:user).editPacote? %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_pacote_path(pacote), :class => 'btn btn-default btn-xs' %>
          <% end %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      pacote_path(pacote),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if policy(:user).createPacote? %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_pacote_path,
            :class => 'btn btn-primary' %>
<% end %>