<%- model_class = Pacote -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:id) %>:</strong></dt>
  <dd><%= @pacote.id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tipo_pacote) %>:</strong></dt>
  <dd><%= @pacote.tipo_pacote_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:created_at) %>:</strong></dt>
  <dd><%= @pacote.created_at %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              pacotes_path, :class => 'btn btn-default'  %>